.syntax--scss {

  // Global punctuation
  // > $color-accent: deeppink;
  //                ^
  .syntax--definition .syntax--punctuation {
    color: @syntax-text-color;
  }

  // Global variable definition
  // > $foo: deeppink;
  //   ^^^^
  .syntax--definition .syntax--variable {
    color: @syntax-text-color;
  }

  // Counter unit
  // > div:nth-of-type(2n + 1) {}
  //                    ^
  .syntax--constant.syntax--numeric + .syntax--constant.syntax--other {
    color: @color-numbers;
  }

  // Variable interpolation
  // > width: calc(100vh - #{$baz});
  //                       ^^    ^
  .syntax--punctuation.syntax--interpolation {
    color: @color-strings;
  }

  // Global variable use
  // > $bar: $foo;
  //         ^^^^
  .syntax--punctuation {
    &.syntax--separator {
      ~ .syntax--variable,
      ~ .syntax--variable .syntax--punctuation {
        color: @color-numbers;
      }
    }
  }

  // CSS-specific values
  // vector-effect: non-scaling-stroke;
  //                ^^^^^^^^^^^^^^^^^^
  .syntax--meta.syntax--property-list .syntax--property-value:not(.syntax--punctuation) {
    color: @color-numbers;
  }
  .syntax--meta.syntax--property-list .syntax--property-value .syntax--punctuation:not(.syntax--interpolation) {
    color: @syntax-text-color;
  }

}
