// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #f5f6ea;
@light-gray:      mix(@very-light-gray, @gray);
@gray:            #555555;
@dark-gray:       mix(@very-dark-gray, @gray);
@very-dark-gray:  #141414;

@red:             #e53654;
@orange:          #eb4c2f;
@light-orange:    #fbe753;
@green:           #b5ff00;
@cyan:            #70f1e9;
@blue:            #52b4f9;
@purple:          #b68efa;

@color-commands: #d4a046;
@color-comments: #808080;
@color-functions: #d278a1;
@color-keywords: #4d92ab;
@color-numbers: #a97dd1;
@color-strings: #90ad65;
@color-types: #ed734c;
@color-values: #f26669;
@color-variables: #84d2d1;
